<%= button_to(select_path_depend_on_member(user), method: select_method_depend_on_member(user), class: "btn", id: "member-btn-#{user.id}", remote: true) do %>
  <% if current_user&.group&.member?(user) %>
    <span class="material-icons">check_box</span>
  <% else %>
    <span class="material-icons">check_box_outline_blank</span>
  <% end %>
<% end %>
