<div class="chat_room-show-page">
  <nav class="navbar navbar-light chat_room-header">
    <%= link_to user_chat_rooms_path(current_user), class: "nav-item nav-link" do %>
      <span class="material-icons chat_room-header-icon">arrow_back_ios_new</span>
    <% end %>

    <div class="chat_room-partner">
      <span class="chat_room-partner-name">
        <%= @chat_room_user.name %>
      </span>
      <%= image_tag prepare_avatar(@chat_room_user), class: "avatar25" %>
    </div>
  </nav>
</div>
