<% provide(:title, t("views.notifications.index.title")) %>

<h1><%= t("views.notifications.index.title") %></h1>
<div id="unread-count"><%= "#{Notification.human_attribute_name(:unread)}: #{@user.notifications.unreads.size}" %></div>
<%= link_to t("views.notifications.index.all_read"), all_read_user_notifications_path, method: :patch %>
<%= render @notifications, user: @user %>
