/*
*= require_tree .
*= require_self
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&family=Noto+Serif+JP:wght@600&display=swap');

/* 全体 */
.all-container {
min-height: 100vh;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Noto Serif JP', serif;
}
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
main {
  padding-top: 60px;
  padding-bottom: 50px;
}
footer.footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
  border-top: 1px solid #ccc;
}
 .avatar200 {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar100 {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar50 {
  display: inline-block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.avatar25 {
  display: inline-block;
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}
.tag {
  display: inline-block;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 5px;
  margin-right: 5px;
  &:hover {
    text-decoration: none;
    box-shadow: 2px 2px 4px;
  }
}

/* ボタンコンテナ */
.btn2-container {
  width: 100%;
  padding: 0px 0px 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}
.btn3-container {
  width: 100%;
  padding: 0px 0px 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

/* なんでもコンテナ */
.default-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #ccc;
}

/* grid, flex */
.grid-auto-150{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.flex {
  display: flex;
}
.flex-space-between {
  justify-content: space-between;
}

/* padding */
.right-p5 {
  padding-right: 5px;
}
.center {
  text-align: center;
}

/* background-color */
.light-green {
  background-color: #41b883;
  color: #fff;
}
.light-gray {
  background-color: #ccc;
}
.red {
  background-color: crimson;
  color: white;
}

/* home template */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* menu */
.menu-container {
  display: none;
}
@media (max-width: 575px) {
  .pc-view {
    display: none;
  }
  .navbar-nav .pc-view {
    display: none;
  }
  .menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: gray;
    .active {
      border-bottom: 3px solid #000;
      font-weight: bold;
      color: #000;
    }
    .icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: inherit;
    }
    span.icon-explanation {
      font-size: 10px;
    }
    span.material-icons {
      line-height: 28px;
    }
    small {
      font-size: 10px;
    }
  }
}

/* notification index */
.unread {
  background-color: rgb(243, 243, 243);
}

/* pagination 非表示にする設定 */
nav .hidden {
  display: none;
}
