/* issue indexç”¨ */
.issues-container {
  width: 100%;
  padding-top: 10px;
}

/* issue */
.issue-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 1px 2px #ccc;
}
.issue-abstract {
  width: 100%;
}
.issue-abst-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.issue-item-user {
  font-size: 20px;
  font-weight: bold;
}
.issue-status {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 5px 15px 5px 5px;
  text-align: center;
  span {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
  }
}
.comment-count {
  padding: 6px 12px;
  margin: 1px;
}
.issue-abst-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.issue-title-container {
  width: 100%;
}
.scope-release {
  color: cornflowerblue;
  font-size: 22px;
  font-weight: bold;
}
.scope-limited {
  color: crimson;
  font-size: 28px;
  font-weight: bold;
}
.scope-draft {
  color: yellowgreen;
  font-weight: bold;
}
.status-pending {
  background-color: crimson;
  color: white;
}
.status-solving {
  background-color: lightseagreen;
  color: white;
}

/* issue show */
.issue-show-container {
  padding-top: 10px;
  width: 100%;
}
.issue-description-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #ccc;
}
.comments-container {
  padding-top: 10px;
}
