/* users/index */
.table td.middle {
  vertical-align: middle;
}

/* user-profileç”¨ */
.profile-container {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: 120px 1fr;
}
.profile-avatar {
  width: 100%;
  .avatar100 {
    margin: 0 auto;
  }
}
.profile-name {
  display: flex;
  flex-wrap: wrap;
}
td.td-width-150 {
  width: 150px;
}
.user-edit-btn-container{
  padding: 5px 0 5px 30px;
}
.user-edit-btn{
  display: inline-block;
  height: 30px;
  padding: 5px 15px;
  border: 1px solid rgb(219,219,219);
  border-radius: 5px;
  line-height: 18px;
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
    background-color: rgb(219,219,219);
  }
}
.user-show-count{
  padding: 10px 0px;
}
span.mentor-item {
  display: inline-block;
  background-color: #ccc;
  padding: 2px 10px;
  border-radius: 5px;
  color: inherit;
  &:hover {
    text-decoration: none;
    box-shadow: 2px 2px 4px;
  }
}

/* member-profile */
.group-member-container {
  width: 100%;
  max-height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 1px 1px 2px rgb(171, 171, 171);
  border-radius: 5px;
}
